html {
	font-size: $link-font-size;
}
body {
 	font-family: $base-font-family; 
	line-height: $line-height;
	font-size: 1.2rem;
}

a { 
	color: $link-color;
	text-decoration: none;  
}

p {
	font-size: 1.2rem; 
	line-height: 1.5;
	margin-bottom: 2rem; 
	opacity: .7;

	@media (min-width: $tablet-width) and (orientation: landscape) {
		font-size: 1.6rem;  
		line-height: 1.75; 
	}
}
 
hr {
	border-top: 1px solid $gray-light;
}

#wrapper { 
	position: relative;
	vertical-align: top;
	width: 100%; 
	overflow: hidden;
}

.container {
	max-width: $conteiner-width;
	padding: 0 15px;
	margin: 0 auto;
}  

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -#{$grid-gutter-width / 2};
}

.col {
  padding: 0 #{$grid-gutter-width / 2};
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
}   

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.title-holder { 
	font-weight: 700;
	font-size: 2rem;
	line-height: 1.3;
	text-transform: uppercase;  
	opacity: .8;
	margin-bottom: 2rem;

	@media (min-width: $tablet-width) and (orientation: landscape) {
		font-size: 2.8rem;
	}

	@media (min-width: $conteiner-width) {
		font-size: 3rem;
	}
}

.red-line { 
	&-left {
		position: relative;
		vertical-align: top;
		text-align: center;
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0%;
			right: 80%;
			border-bottom: 2px solid $red;
		}
	}

	&-right {
		position: relative;
		vertical-align: top;
		text-align: center;
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 80%; 
			right: 0%;
			border-bottom: 2px solid $red;
		}
	}

	&-center { 
		position: relative;
		vertical-align: top;
		text-align: center;
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 40%;
			right: 40%;
			border-bottom: 2px solid $red;
		}
	}
	
}

@each $key, $viewport in $viewports {
	@media all and (min-width: $viewport) {
		@for $i from 1 through $grid-count {
			.col-#{$key}-#{$i} {
				width: 100% / $grid-count * $i;
			}
		}
	}
}

.btn {
    display: inline-block; 
    line-height: 1;
    font-size: 1.8rem;
    font-weight: bold; 
}

@each $key, $btn-color in $btn-colors { 
 	.btn-color-#{$key} {
		background-color: $btn-color;
		@if $key == white {
			color: $red;
			border-color: $red; 
		} @else {
			color: white; 
			border-color: $btn-color;  
		} 
	} 
}

@each $key, $border in $borders { 
 	.border-size-#{$key} {
		border-width: $border; 
    	padding: #{20 - $border*2} 60px;
	}
}

@each $key, $border-radius in $borders-radius { 
 	.border-radius-#{$key} {
		border-radius: $border-radius; 
	}
}

@each $key, $border-style in $borders-style { 
 	.border-style-#{$key} {
		border-style: $border-style; 
	}
}  

.section-1 {
	padding: 100px 0; 
}

.section-1-left-title { 
	padding: 45px 0;   
} 
.section-1-left-text {
	p {
		opacity: 1;
	}
}
.section-1-right-title {
	h3 {
		font-weight: 600;
		font-size: 1.5rem;
		color: $black;
		line-height: 1.3; 
		margin: 10px 0 20px;  
		opacity: .7;

		@media (min-width: $tablet-width) and (orientation: landscape) {
			font-size: 2rem;
		}

		@media (min-width: $conteiner-width) {
			font-size: 2.4rem;
		}
	}
}  
.section-1-right-icon {
	margin: 0;
    color: #ff3f40;
    font-size: 40px; 
	line-height: 1.3; 

	@media (min-width: $tablet-width) and (orientation: landscape) {
	}
 
}

.section-2 {
	padding: 15px 0; 

	@media (min-width: $tablet-width) and (orientation: landscape) {
		padding: 70px 0 45px; 
	}
}

.section-2-title,
.section-3-title {
	h2 {
		font-weight: 700;
		font-size: 2rem;
		color: $black;
		line-height: 1.3; 
		margin: 30px;  
		opacity: .7;
		text-align: center;
		text-transform: uppercase; 

		@media (min-width: $tablet-width) and (orientation: landscape) {
			font-size: 3rem;
		}

		@media (min-width: $conteiner-width) {
			font-size: 4.2rem;
		}
	}
 
}

.section-2-text {
	position: relative;
	vertical-align: top;
	margin-bottom: 30px;

	p {
		text-align: center;  
	}

	@media (min-width: $tablet-width) and (orientation: landscape) {
		width: 50%;
		margin: 0 auto; 
	} 
}
.section-3-text {
	position: relative;
	vertical-align: top;
	margin-bottom: 30px;

	p {
		text-align: center;  
	}

	@media (min-width: $tablet-width) and (orientation: landscape) {
		width: 50%; 
	} 
}

.section-2-header {
	padding-bottom: 60px;
}
.section-2-portfolio-filter {
	margin-bottom: 40px;
}

.section-2-portfolio-filter-list {
	list-style: none;
	padding: 0;
	text-align: center; 
	margin-left: -20px;
	margin-right: -20px;

	li {
			text-transform: uppercase;
 
		a {
			font-size: 1.5rem;
			line-height: 1.3;
			opacity: .7;
			font-weight: 600;

			&:hover {
				color: $red;
			}

			@media (min-width: $tablet-width) and (orientation: landscape) { 
				font-size: 1.8rem;
			}

			@media (min-width: $conteiner-width) { 
				font-size: 2.2rem;
			}
		} 

		@media (min-width: $tablet-width) and (orientation: landscape) { 
			display: inline-block;
			padding: 0 20px;

			&:last-child {
				margin-right: 0; 
			}
		} 
	}

	.active {
		a {
			color: $red;
		}
	}

}

.section-2-portfolio {
	.col {
		text-align: center;
 		 margin: 15px 0;
	}
}

.section-3-title h2 {
	margin: 30px 0;
	text-align: left;
}

.section-3-text { 
	p {
		text-align: left;

		&:after { 
			left: 0;
			right: 60%; 
		}
	}  
}

.section-3-head { 
	padding-bottom: 90px;
}

.section-3-team-head-name {
	h3 {
	    font-size: 2rem;
	    line-height: 1.3;
	    opacity: .7;
	    font-weight: 600;
	    text-transform: uppercase;

	    @media (min-width: $tablet-width) and (orientation: landscape) { 
			font-size: 2.8rem;
		}

		@media (min-width: $conteiner-width) { 
			font-size: 3rem;
		}
	} 
 } 
.section-3-team-head-photo {
	max-width: 100%; 
	text-align: center;
	margin-bottom: 20px;
}

 .section-3-social {
 	list-style: none;
 	padding: 0;
 	margin: 40px 0;

 	li {
 		display: inline-block;
 		font-size: 1.5rem;
 		line-height: 1.3;
 		font-style: italic;  
 		margin-right: 10px;

 		a:hover {
			color: $red;
 		}

 		&:last-child {	 
	 		margin-right: 0; 
 		}

 		@media (min-width: $tablet-width) and (orientation: landscape) { 
 			margin-right: 25px;
 		font-size: 1.8rem;
		}
 	}
 }


.subscribe {
	h2 {
		text-transform: none; 
	}
}

.bg-image {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
} 

.block-inverse {
	color: #fff; 
}

.common-section {
	padding: 130px 0;
}

.section-3-teams-user {
	
	a {
		display: block;
		position: relative;
		vertical-align: top;
		overflow: hidden;
		margin-bottom: 15px; 

		&:hover span {
			transform: translateY(0); 
		}
	}
	
	img {
		width: 100%;
	}

	span {
		position: absolute;
		width: 100%;
		bottom: 0;
		text-align: center; 
	    background: rgba($black, .5);
	    color: #fff;
	    text-transform: uppercase;
	    font-size: 1.8rem;
		transform: translateY(100%);
		transition: all .3s;
	}
}

.section-3-team-head-social {
	margin-bottom: 100px;
}

