$base-font-family: 'Open Sans', sans-serif;
$link-font-size: 10px;
$line-height: 2;

$menu-link-color: #e0e0e0;
$red: #ff3f40; 
$menu-black: #313030;
$black: #000;
$gray: #626262;
$pink-gray: #f6f2f2;
$gray-light: #ececec;
$gray-lighter: #e5e5e5;

$base-text-color: $gray;
$link-color: $gray;
$link-hover-color: $red;

$grid-gutter-width: 30px;
$grid-count: 12;

$mobile-width: 350px;
$tablet-width: 768px;
$conteiner-width: 1170px;
$large-width: 1300px;
 

$viewports: (
	xs: $mobile-width,
	sm: $tablet-width,
	md: $conteiner-width,
	lg: $large-width
);
 
$btn-colors: (
	red: $red,
	black: $black,
	white: white,
	blue: #0019b2,
	green: #22b200,
	grey: $gray
); 

$borders: (
	none: 0px,
	xs: 1px,
	sm: 2px,
	md: 4px,
	lg: 8px
); 

$borders-radius: (
	none: 0px,
	xs: 2px,
	sm: 4px,
	md: 8px,
	lg: 16px
); 


$borders-style: (
	dashed: dashed,
	solid: solid, 
); 
 


